apsw==3.16.2.post1
asn1crypto==0.24.0
backports.ssl-match-hostname==3.5.0.1
cached-property==1.3.1
certifi==2018.1.18
chardet==3.0.4
CherryPy==8.9.1
configobj==5.0.6
cryptography==3.2
cssselect==1.0.3
cssutils==1.0.2
docker==2.5.1
docker-compose==1.17.1
docker-pycreds==0.2.1
dockerpty==0.4.1
docopt==0.6.2
enum34==1.1.6
feedparser==5.2.1
funcsigs==1.0.2
functools32==3.2.3.post2
gpg==1.10.0
html5-parser==0.4.4
idna==2.6
ipaddress==1.0.17
jsonschema==2.6.0
lxml==4.2.1
Markdown==2.6.9
mechanize==0.2.5
mock==2.0.0
msgpack==0.5.6
netifaces==0.10.4
pbr==3.1.1
Pillow==8.2.0
psutil==5.6.6
pycairo==1.16.2
pycrypto==2.6.1
pygobject==3.26.1
pyOpenSSL==17.5.0
pyparsing==2.2.0
pyparted==3.11.1
python-apt==1.6.4
python-dateutil==2.6.1
python-xapp==1.6.0
python-xlib==0.20
pyxdg==0.26
PyYAML==5.1
regex==2017.12.12
repoze.lru==0.7
requests==2.20.0
Routes==2.4.1
setproctitle==1.1.10
six==1.11.0
texttable==0.9.1
urllib3==1.24.2
virtualenv==16.2.0
websocket-client==0.44.0